
body{direction:rtl;overflow:auto}
.navbar{background-color:#fdfdfd;}
 .navbar .navbar-nav{
	list-style-type:none;
	margin:0;
    padding: 0;
  	}
	
.navbar .navbar-nav .nav-item{float:right;margin-right:80px}

.navbar .navbar-nav .nav-item .nav-link{
 display:block;
 color:#273d38;
 font-size:18px;
 padding:10px 20px 10px 20px;
 text-decoration:none;
 text-align:center;
 text-transform:capitalize
 }
 .navbar .navbar-nav .nav-item .nav-link:hover{color:#fdfdfd;background-color:#ff0047;border-top-right-radius:10px}
.navbar .navbar-nav .nav-item .nav-link :active{margin-right:200px}

.dropdown{text-align:right;}
.carousel-inner .carousel-item  img{width:100%;height:600px;margin:10px 0px 0 30px;}

.carousel-caption {background-color:rgba(169,169,169,0.4);color:#6e8c8e;margin-bottom:40px}
.carousel-caption p{font-size:20px;padding:10px;color:#f57212;font-weight:bold}


.courses{text-align:center;font-family:;margin:50px;}
.courses h3{text-transform:capitalize;font-size:30px}
.courses .web{
	border:1px solid gray;overflow:auto;width:400px;border-radius:10px;background-color:#f5f5f5;background-size:cover;float:right;margin:50px;
	animation-name:change;animation-duration:2s;
	}
	.courses .icdl{
	border:1px solid gray;overflow:auto;width:400px;border-radius:10px;background-color:#f5f5f5;background-size:cover;float:right;margin:50px;
	animation-name:change;animation-duration:2s;
	}
.courses h3{color:#065f65}
.courses .icdl{border:1px solid gray;overflow:auto;width:400px;border-radius:10px;background-color:#f7faf9;float:right;margin:50px;animation-name:change;animation-duration:2s;}
@keyframes change{from{border:0} to{border:1 solid yellow}}
.card{float:right;margin:10px 20px  20px 10px}
.time {margin:2300px 500px 80px 500px;}
.time p{background-color:orange;color:white;text-align:center;padding:10px;border-radius:10px;}

div.asli{background-color:red;overflow:hidden;}
.asli .one,.two,.three{float:right;margin:10px 170px 10px 10px;}
.asli h3{float:right;margin:-50px 50px;text-align:center}
.asli ul{	list-style-type:none;padding:10px}
footer p{background-color:rgb(40,40,40);color:white;text-align:center;margin:-30px;height:80px;padding-top:20px }

.scrollbutton {
 background-color: #b3b3b3;
    width: 35px;
    height: 35px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    border-radius: 50%;
    cursor: pointer;
    transition: all .25s linear .25s
}




